.circle {
	border: 1px solid #333333;
	cursor: pointer;
}

li {
	list-style: none;
}

ul {
	padding-left: 0px;
}

#content {
	width: 700px;
	height: 500px;
	margin: auto;
	position: relative;
}

input {
	outline: none;
	cursor: pointer;
}
input:focus {
	cursor: text;
}

#textTest {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}