.label {
	border: 1px solid #333333;
	cursor: pointer;
}

li {
	list-style: none;
}

ul {
	padding-left: 0px;
}

#content {
/*	max-width: 900px;
	width: 100%;
	max-height: 700px;
	height: 80%;
	margin: auto;*/
	position: relative;
	/*overflow: scroll;*/
	padding: 20px;
	/*border: 1px dotted #222;*/
}

input {
	outline: none;
	cursor: pointer;
	font-family: monospace;
}
input:focus {
	cursor: text;
}

#textTest {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}